@font-face {
   font-family: 'beer money';
   font-display: swap;
   src: url('file:///C:/Users/lukas/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-03-19_194730/fonts/beer%20money/font.ttf');
}
